body{
    background-color: beige
}

#inputImg{
    margin-bottom: 10px;
}

.abc{
    margin-left: 10px;
    margin-right: 10px;
}

.btn{
    background-color:#d27685;
    border-color: #d27685;
    margin-bottom: 2px;
}

.btn:hover{
    background-color: #d27685;
}

.btn:active{
    background-color: #d27685;

}

#inputText{
    margin-bottom: 20px;
}