{% extends "base.html" %}

{% block buttons %}
<button id="grayscaleButton" class="btn btn-info">Grayscale</button>
<button id="meanblurButton" class="btn btn-info">Mean Blur</button>
<button id="gaussianblurButton" class="btn btn-info">Gaussian Blur</button>
<button id="sharpenButton" class="btn btn-info">Psych Filter</button>
<button id="sobelButton" class="btn btn-info">Sobel Filter</button>
{% endblock %}

{% block js %}
<script src="../static/js/imageProcessing.js"></script>

{% endblock %}